.Genre {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
}

.Genre h1 {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}