.Input {
    width: 85%;
    margin-top: 0.25em;
    background: transparent;
    border: none;
    border-bottom: 3px solid #283444;
    font-family: var(--font-text);
    font-size: 1rem;
}

@media screen and (min-width: 948px) {
    .Input {
        font-size: 1.2rem;
        margin-top: 1em;
    }

}
