.navbar{
    display: grid;
    grid-template-columns: 95% auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.user__icon{
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 770px){
    .user__icon{
        width: 2.5em;
    }

}