.SearchBar {
    display: flex;
    justify-content: center;
}

.SearchBar__input {
    width: 30%;
    min-width: 280px;
    padding: 0.25em .75em;
    color: var(--white);
    border: none;
    border-bottom: 3px solid;
    letter-spacing: .05em;
    border-image: linear-gradient(to left, var(--pink), var(--purple-blue)) 1;
    background-color: transparent;
}


.SearchBar__button{
    color: var(--white);
    border: none;
    background-color: transparent;
}

.SearchBar__input::placeholder{
    color: var(--white);
    font-size: 1.1em;
}
