.Dashboard__main {
    color: var(--white);
    background-color: var(--dark-blue);
}

.Dashboard__header {
    padding: 2rem;
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to right top,
            rgba(154, 0, 162, 0.6),
            rgba(98, 49, 152, 0.6),
            rgba(52, 56, 127, 0.6),
            rgba(30, 52, 93, 0.6),
            rgba(33, 43, 56, 0.6)), url(https://images.pexels.com/photos/1762578/pexels-photo-1762578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-size: cover;
}

.Dashboard__title {
    padding: 0;
    font-size: 2.5rem;
    font-family: var(--font-logo);
    font-weight: 700;
    background: -webkit-linear-gradient(#FFF, #929CB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.Dashboard__section {
    min-height: 200px;
}

.dashboard__item {
    display: flex;
    gap: 0.5em;
}

.item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    border: 1px solid #fff;
}

.item__info>p {
    margin: 0;
}

.Dashboard__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.75em;
}


/* Individual items sections */

/* Tops */
.Top__button-more {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    transition: all ease-in 250ms;
}

.Top__button-more:hover {
    color: rgb(230, 101, 217);
}

/* Artists */
.ArtistUser {
    min-width: 120px;
    padding: 0.25em;
    background-image: linear-gradient(180deg, var(--pink) 0%, var(--purple-blue) 100%);
}

.ArtistUser .item__info {
    padding: 0.25em;
    width: 100%;
    display: auto;
    background-color: var(--dark-blue);
}

.ArtistUser__info {
    display: flex;
    justify-content: space-between;
}

.ArtistUser__info a {
    color: var(--white);
}

/* Genres */
.GenreUser {
    min-width: 120px;
}