.Home__section-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;

}
.section {
  width: 100%;
  min-height: 100vh;
  background-size:  cover;
  scroll-snap-align: start;
}

.Home__container {
  position:relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Home__main {
  color: var(--white);
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}


/* CTA - HOME */
.Home__CTA {
  display: grid;
  place-content: center;
  position: relative;
}

.section {
  min-height: 100vh;
}

.Home__copy {
  position: relative;
  z-index: 3;
  color: var(--white);
}

.Home__title {
  padding: 0;
  font-size: 2.5rem;
  font-family: var(--font-logo);
  font-weight: 700;
  background: -webkit-linear-gradient(#FFF, #929CB0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home__sub-copy {
  font-size: 1rem;
  margin-bottom: 1.25em;
}

.Home__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(45deg, rgba(33, 43, 56, 0.6) 0%, rgba(30, 52, 93, 0.6) 25%, rgba(52, 56, 127, 0.6) 50%, rgba(98, 49, 152, 0.6) 75%, rgba(154, 0, 162, 0.6) 100%);
}


/* TOPS - HOME */
.Home__tops {
  background-color: var(--dark-blue);
}

.Home__title-section {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  font-family: var(--font-title);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 3px var(--pink);
}

/* SONGS - HOME  */
.Home__songs {
  background-image: linear-gradient(to right top, #9a00a2, #633198, #353880, #1d355f, #212c3a);
}


/* ARTISTS - HOME */
.Home__artists {
  background-color: var(--pink);
}

.Home__artists .Home__title-section {
  text-shadow: 0 4px 3px var(--purple-blue);
}

/* Genres - HOME */
.Home__genres {
  background-image: linear-gradient(to left bottom, #9a00a2, #633198, #353880, #1d355f, #212c3a);
}

/* .Home__tops,
.Home__songs,
.Home__artists,
.Home__genres {
  padding: 8vh 0;
} */

.Home__more-link {
  color: white;
  text-align: center;
  display: block;
  font-size: 1.3rem;
}

.Home__more-link:hover {
  font-weight: 700;
  text-decoration: underline;
  color: white;
}

/* Media Queries */
@media screen and (min-width: 948px) {
  .Home__CTA {
    justify-content: start;
  }

  .Home__title {
    font-size: 5rem;
  }

  .Home__sub-copy {
    font-size: 1.5rem;
  }
}