.Login__page {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    place-content: center;
}

.Login__background {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top,
            rgba(154, 0, 162, 0.6),
            rgba(98, 49, 152, 0.6),
            rgba(52, 56, 127, 0.6),
            rgba(30, 52, 93, 0.6),
            rgba(33, 43, 56, 0.6)), url(../../assets/images/bckImage.png);
    background-size: cover;
    position: absolute;
    z-index: -1;
    background-position: center;
}

Form {
    background-color: var(--white);
    max-width: 286px;
    padding: 5%;
    text-align: center;
    height: 350px;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.Login__title {
    font-family: var(--font-formTitle);
    font-size: 2rem;
    letter-spacing: 0.1rem;
    background-clip: text;
    background: linear-gradient(to right, #465263, #9D9D9D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.Login__subtitle {
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: #212C3A;
    margin-top: -3%;
}

Input {
    margin-top: 18%;
    background: transparent;
    border: none;
    border-bottom: 3px solid #283444;
    font-family: var(--font-text);
    font-size: 1.3rem;
    width: 13rem;
}

.Login__button {
    margin-top: 18%;
}

.Last__line {
    font-family: var(--font-text);
    font-size: 1rem;
    margin-top: 15%;
}

/* Media Queries */
@media screen and (min-width: 948px) {
    Form {
        max-width: 600px;
        height: 700px;
    }

    .Login__title {
        font-size: 5rem;
    }

    .Login__subtitle {
        font-size: 2.5rem;
    }

    Input {
        font-size: 2rem;
        width: 30rem;
    }

    .Last__line {
        font-size: 1.8rem;
        margin-top: 22%;
    }
}