@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Permanent+Marker&display=swap');

:root {
    --pink: #9A00A2;
    --purple-blue: #3545D1;
    --dark-blue: #212C3A;
    --dark-grey: #283444;
    --grey: #D2D3D5;
    --white: #FFF;
    --font-text: 'Roboto Condensed', sans-serif;
    --font-title: 'Bebas Neue', cursive;
    --font-formTitle: 'Comfortaa', sans-serif;
    --font-logo: 'Comfortaa', cursive;
}

body {
    margin: 0;
    font-family: var(--font-text)
}

.wrapper {
    max-width: 1920px;
    min-width: 320px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

.wrapper {
    max-width: 1920px;
    min-width: 320px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 948px) {
    .container {
        width: 80%;
    }
}